 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html,
 body {
     height: 100vh;
     width: 100%;
     font-family: 'Poppins';
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .line {
     text-decoration: line-through;
 }

 button.active {
     background-color: black;
     color: white;
 }

 button {
     padding: 3px 10px;
     outline: none;
 }

 h3 {
     text-align: center;
     margin-bottom: 10px;
     font-family: 'Poppins';
 }

 .container {
     width: 900px;
     padding: 20px;
     margin-inline: auto;
     height: 80vh;
     border: 1px solid black;
     border-radius: 6px;
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 #display,
 #priority {
     padding: 3px 10px;

 }

 #list {
     display: flex;
     gap: 15px;
     flex-direction: column;
     list-style: none;
     overflow-y: scroll;
 }

 #list>li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(29, 215, 212);
     padding: 5px;
 }
 #list> li > #space {
    width: 60%;
 }