 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html,
 body {
     height: 100vh;
     width: 100%;
     font-family: 'Poppins';
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .line {
     text-decoration: line-through;
 }

 button.active {
     background-color: black;
     color: white;
 }

 button {
     padding: 3px 10px;
     outline: none;
     cursor: pointer;
 }

 h3 {
     text-align: center;
     margin-bottom: 10px;
     font-family: 'Poppins';
 }

 .container {
     width: 900px;
     padding: 20px;
     margin-inline: auto;
     height: 80vh;
     border: 1px solid black;
     border-radius: 6px;
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 #display,
 #priority {
     padding: 3px 10px;

 }

 #list {
     display: flex;
     gap: 15px;
     flex-direction: column;
     list-style: none;
     overflow-y: scroll;
 }

 #list>li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgba(128, 128, 128, 0.178);
     padding: 5px;
 }

 #list>li>#space {
     width: 60%;
     overflow-wrap: break-word;
 }

 .btnContainer {
     display: flex;
     flex-wrap: nowrap;
     gap: 10px;
     margin-left: 20px;
 }

 .high {
     background-color: red;
     font-size: small;
     padding: 2px 10px;
     border-radius: 6px;
     font-weight: bold;
     color: white;
 }

 .medium {
     background-color: rgba(0, 128, 0, 0.827);
     font-size: small;
     padding: 2px 5px;
     border-radius: 6px;
     font-weight: bold;
     color: white;
 }

 .low {
     background-color: rgb(0, 195, 255);
     font-size: small;
     padding: 2px 10px;
     border-radius: 6px;
     font-weight: bold;
     color: white;
 }

 /* For Chrome, Edge, Safari */
 ::-webkit-scrollbar {
     width: 1px;
 }

 ::-webkit-scrollbar-track {
     background: #ffffff;
 }


 ::-webkit-scrollbar-thumb:hover {
     background: #999999;
 }

 /* For Firefox */
 * {
     scrollbar-width: thin;
     scrollbar-color: #cccccc #ffffff;
 }

 ::-webkit-scrollbar-thumb {
     background: white;
     border: 1px solid #ddd;
 }

 @media(max-width:425px) {
     .container {
         width: 100vw;
         height: 100vh;
         border-radius: none;
         border: none;
     }

     .btnContainer {
         gap: 5px;
     }

     #list>li>#space {
         width: 50%;
     }
     #form > button {
        margin-top: 10px;
     }
     #form >input {
        width: 100%;
     }
 }